absl-py                      2.1.0
altgraph                     0.17.2
annotated-types              0.7.0
anyio                        4.6.0
astunparse                   1.6.3
certifi                      2024.8.30
charset-normalizer           3.3.2
distro                       1.9.0
exceptiongroup               1.2.2
filelock                     3.16.1
flatbuffers                  24.3.25
fsspec                       2024.9.0
future                       0.18.2
gast                         0.6.0
google-pasta                 0.2.0
grpcio                       1.66.1
h11                          0.14.0
h5py                         3.12.1
httpcore                     1.0.5
httpx                        0.27.2
huggingface-hub              0.25.1
idna                         3.10
importlib_metadata           8.5.0
Jinja2                       3.1.4
jiter                        0.5.0
joblib                       1.4.2
keras                        3.5.0
libclang                     18.1.1
macholib                     1.15.2
Markdown                     3.7
markdown-it-py               3.0.0
MarkupSafe                   2.1.5
mdurl                        0.1.2
ml-dtypes                    0.4.1
mpmath                       1.3.0
namex                        0.0.8
networkx                     3.2.1
numpy                        1.26.4
openai                       1.47.0
opt_einsum                   3.4.0
optree                       0.12.1
packaging                    24.1
pillow                       10.4.0
pip                          24.2
protobuf                     4.25.5
pydantic                     2.9.2
pydantic_core                2.23.4
Pygments                     2.18.0
pyphen                       0.16.0
python-dotenv                1.0.1
PyYAML                       6.0.2
regex                        2024.9.11
requests                     2.32.3
rich                         13.8.1
safetensors                  0.4.5
scikit-learn                 1.5.2
scipy                        1.13.1
sentence-transformers        3.1.1
setuptools                   75.1.0
six                          1.15.0
sniffio                      1.3.1
sympy                        1.13.3
tensorboard                  2.17.1
tensorboard-data-server      0.7.2
tensorflow                   2.17.0
tensorflow-hub               0.16.1
tensorflow-io-gcs-filesystem 0.37.1
termcolor                    2.4.0
textstat                     0.7.4
tf_keras                     2.17.0
threadpoolctl                3.5.0
tokenizers                   0.20.0
torch                        2.4.1
tqdm                         4.66.5
transformers                 4.45.1
typing_extensions            4.12.2
urllib3                      2.2.3
Werkzeug                     3.0.4
wheel                        0.37.0
wrapt                        1.16.0
zipp                         3.20.2
